<html>
  <head>
    {% if title %}
    <title> {{title}} - release </title>
    {% else %}
    <title> roller - release </title>
    {% endif %}
  </head>
  <body>
    <div id="header">
      Publishing Platform
      <div id="header-name">
        Name:
        {% if g.user.is_authenticated %}
          {{ g.user.name }}
        {% endif %}
      </div>
      {% if g.user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
